<title></title>

<!--META TAGS-->


<!--FONT AWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--EXTERNAL CSS
<link rel="stylesheet" href="css/style.css">-->

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
</head>

<body>
  {{!-- !--CAROUSEL--> --}}
  <div class="content-width">
    <div class="slideshow">
      <!-- Slideshow Items -->
      <div class="slideshow-items">
        <div class="item">
          <div class="item-image-container">
            <img class="item-image" src="/images/floursCategory.jpg" />
          </div>
          <!-- Staggered Header Elements -->
          <div class="item-header">
            <span class="vertical-part"><b>Striking Deals On <em>Flours</em></em></b></span>
          </div>
          <!-- Staggered Description Elements -->
          <div class="item-description">
            <span class="vertical-part desc">
              <b>Offers you cannot miss! upto 50% off</b>
            </span>
          </div>
        </div>
        <div class="item">
          <div class="item-image-container">
            <img class="item-image" src="https://i.ibb.co/fQrPPpR/slide2.jpg" />
          </div>
          <!-- Staggered Header Elements -->
          <div class="item-header">
            <span class="vertical-part"><b>Top Deals On <em>Cook Ware</em></b></span>
          </div>
          <!-- Staggered Description Elements -->
          <div class="item-description">
            <span class="vertical-part desc">
              <b>Upto 10% off on cart value more than <i class="fa fa-rupee"></i>2000</b>
            </span>
          </div>
        </div>
        <div class="item">
          <div class="item-image-container">
            <img class="item-image" src="/images/adens.jpg" />
          </div>
          <!-- Staggered Header Elements -->
          <div class="item-header">
            <span class="vertical-part" style="color:#fff;"><b>ShopNow On <em>GREENSHOPPY</em></b></span>
          </div>
          <!-- Staggered Description Elements -->
          <div class="item-description">
            <span class="vertical-part desc" style="color:#fff;">
              <b>For wholesale purchase contact us</b>
            </span>
          </div>
        </div>
      </div>
      <div class="controls">
        <ul>
          <li class="control" data-index="0"></li>
          <li class="control" data-index="1"></li>
          <li class="control" data-index="2"></li>
        </ul>
      </div>
    </div>
  </div>


  <section class="section1">
    <div class="add-card"
      style="background: linear-gradient(rgba(1,1,1,.5), rgba(1,1,1,.5)), url(https://i.ibb.co/zmnBPpr/card1.jpg);">
      <section>
        <span class="title">New Year Bonanza</span>
        <span class="sub-title">Upto 25% Off On Washing Machines</span>
        <a href="" class="btn1">Grab Now</a>
      </section>
    </div>
    <div class="add-card"
      style="background: linear-gradient(rgba(1,1,1,.5), rgba(1,1,1,.5)), url(https://i.ibb.co/rH35598/card2.jpg);">
      <section>
        <span class="title">New Year Bonanza</span>
        <span class="sub-title">Upto 25% Off On Washing Machines</span>
        <a href="" class="btn1">Grab Now</a>
      </section>
    </div>
    <div class="add-card"
      style="background: linear-gradient(rgba(1,1,1,.5), rgba(1,1,1,.5)), url(https://i.ibb.co/b1pfh8c/card3.jpg);">
      <section>
        <span class="title">New Year Bonanza</span>
        <span class="sub-title">Upto 25% Off On Washing Machines</span>
        <a href="" class="btn1">Grab Now</a>
      </section>
    </div>
  </section>


  <h1 class="title section2-header">DEALS OF THE DAY <span id="timer"><i class="fa fa-clock-o"></i></span></h1>
  <section class="section2">
    {{#each stores}}
    <a href="/userlogin/productView/{{this._id}}?_method=get">
      <div class="deal-card">
        <img src="/category-image/{{this.Front_image}}" alt="Deals">
        <span class="discount"><i class="fa fa-percentage"></i>Offer</span>
        <span class="tag-1"><i class="fa fa-check-circle-o"></i> Available</span>
        <span class="title text-dark">{{this.Product_title}}</span>
        <span class="sub-title">{{this.Product_description}}</span>

        <span class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          ()
        </span>
        <a href="#" class="btn1"><i class="fa fa-rupee"></i> {{this.Selling_Price}}</a>

      </div>
    </a>
    {{/each}}








    <div class="deal-card advertise-card">

    </div>
  </section>


  <div class="section3-header">
    <span class="title">BASED ON YOUR INTEREST</span>
    <a href="/viewmore" class="btn1 viewmore">View More</a>
    <button class="next" onclick='scrollright()'><i class="fa fa-angle-right"></i></button>
    <button class="previous" onclick='scrollleft()'><i class="fa fa-angle-left"></i></button>
  </div>
  <section class="section3" id="section3">
    {{#each stores}}

    <div class="discount-card">
      <img src="/category-image/{{this.Front_image}}" alt="Product">
      <a href="#" class="like-button"><i class="fa fa-heart-o"></i></a>
      <span class="title">{{this.Product_title}}</span>
      <span class="rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        ()
      </span>
      <span class="btn1"><i class="fa fa-rupee"></i>{{this.Selling_Price}}</span> <strike><i
          class="fa fa-rupee"></i>{{this.Maximum_retail_price}}</strike>
    </div>
    {{/each}}










  </section>


  <div class="section4-header">
    <span class="title">DISCOUNT CORNER</span>
    <a href="/viewmore" class="btn1 viewmore">View More</a>
    <button class="next" onclick='scrollright4()'><i class="fa fa-angle-right"></i></button>
    <button class="previous" onclick='scrollleft4()'><i class="fa fa-angle-left"></i></button>
  </div>
  <section class="section4" id="section4">
    <div class="row">
      {{#each stores}}
      <div class="col-md-2">
        <div class="discount-card">

          <img src="/category-image/{{this.Front_image}}" alt="Product">
          <a href="#" class="like-button"><i class="fa fa-heart-o"></i></a>
          <span class="title">{{Product_title}}</span>
          <span class="rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            (930)
          </span>
          <span class="btn2"></span>

        </div>
      </div>
      {{/each}}



      <div class="discount-card">
        <img src="https://i.ibb.co/RpnQq12/01.webp" alt="Product">
        <a href="#" class="like-button"><i class="fa fa-heart-o"></i></a>
        <span class="title">Lenovo-na thin laptop with 4gb ram 500gb hard disk</span>
        <span class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          (1,030)
        </span>
        <span class="btn1"><i class="fa fa-rupee"></i>9999</span> <strike><i class="fa fa-rupee"></i>10200</strike>
      </div>
    </div>
  </section>





  <!--ADDS-->
  <center>
    <div class="Advertisement">
      <img class="myAdds" src="https://i.ibb.co/r5f5GgH/1.png" style="width:100%">
      <img class="myAdds" src="https://i.ibb.co/bN4XFXp/2.png" style="width:100%">
      <img class="myAdds" src="https://i.ibb.co/nfpZj9p/3.png" style="width:100%">
    </div>
  </center>




  <section class="section6">
    <table>
      <tr>
        <td>
          <img src="https://i.ibb.co/sjTCyXj/app.png" alt="APP">
        </td>
        <td>
          <span class="title text-success">Download GreenShoppy App Now</span>
          <span class="sub-title">Fast, Simple & Delightful. All it takes is 15 seconds to Download.</span>
          <div class="row">
            <div class="col-md-3">
              <a href="#" class="btn1"><i class="fa fa-android"></i> DOWNLOAD</a></div>
              <div class="col-md-3">
              <a href="#" class="btn1"><i class="fa fa-apple"></i> DOWNLOAD</a>
            </div>
          </div>
        </td>

      </tr>
    </table>
  </section>



  <footer>
    <div class="footer">
      <ul>
        <li>INFERNO</li>
        <li>
          <select>
            <option value="english">English</option>
            <option value="chinese">Chinese</option>
            <option value="deutsch">Deutsch</option>
            <option value="hindi">Hindi</option>
            <option value="portuguese">Portuguese</option>
            <option value="spanish">Spanish</option>
          </select>
        </li>
        <li>
          <select>
            <option value="Dollar">USD: US-Dollar</option>
          </select>
        </li>
      </ul>

      <ul>
        <li class="title">OTHER LINKS</li>
        <li>Contact Us</li>
        <li>Privacy Policy</li>
        <li>Terms & Conditions</li>
        <li>Tickets</li>
        <li>Customer Service</li>
        <li>Our App</li>
      </ul>

      <ul>
        <li class="title">SHORTCUT</li>
        <li>Electronics</li>
        <li>Men & Women</li>
        <li>House Hold</li>
        <li>Sport & Fitness</li>
        <li>Books</li>
        <li>Kids Corner</li>
      </ul>

      <ul>
        <li class="title">LET HELP YOU</li>
        <li>Covid-19</li>
        <li>Your Account</li>
        <li>Shipping Rates</li>
        <li>Replacement</li>
        <li>Help</li>
        <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </li>
      </ul>
    </div>
    <div class="sub-footer">
      <em>GreenShoppy!!</em> Copyright © 2022 - Vembanattu Foods All rights reserved
    </div>
  </footer>




  <!--ADDITIONAL-->
  <div id="id01" class="modal">

    <section class="modal-content animate" action="/action_page.php" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
          title="Close Modal">&times;</span>
      </div>
    </section>
  </div>


  <!--JAVASCRIPT
<script src="js/custom.js"></script>
<script src="js/adds.js"></script>
-->




  <script>


    //DEFAULT
    document.getElementById('id01').style.display = 'block';





    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("myAdds");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) { myIndex = 1 }
      x[myIndex - 1].style.display = "block";
      setTimeout(carousel, 4000); // Change image every 2 seconds
    }

    var modal = document.getElementById('id01');
    document.addEventListener("keydown", ({ key }) => {
      if (key === "Escape") {
        if (modal.style.display = "block") {
          modal.style.display = "none";
        }
      }
    });




    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }



    const items = document.querySelectorAll('.item'),
      controls = document.querySelectorAll('.control'),
      headerItems = document.querySelectorAll('.item-header'),
      descriptionItems = document.querySelectorAll('.item-description'),
      activeDelay = .76,
      interval = 5000;

    let current = 0;

    const slider = {
      init: () => {
        controls.forEach(control => control.addEventListener('click', e => { slider.clickedControl(e); }));
        controls[current].classList.add('active');
        items[current].classList.add('active');
      },
      nextSlide: () => {// Increment current slide and add active class
        slider.reset();
        if (current === items.length - 1) current = -1; // Check if current slide is last in array
        current++;
        controls[current].classList.add('active');
        items[current].classList.add('active');
        slider.transitionDelay(headerItems);
        slider.transitionDelay(descriptionItems);
      },
      clickedControl: e => {// Add active class to clicked control and corresponding slide
        slider.reset();
        clearInterval(intervalF);

        const control = e.target,
          dataIndex = Number(control.dataset.index);

        control.classList.add('active');
        items.forEach((item, index) => {
          if (index === dataIndex) {// Add active class to corresponding slide
            item.classList.add('active');
          }
        });
        current = dataIndex; // Update current slide
        slider.transitionDelay(headerItems);
        slider.transitionDelay(descriptionItems);
        intervalF = setInterval(slider.nextSlide, interval); // Fire that bad boi back up
      },
      reset: () => {// Remove active classes
        items.forEach(item => item.classList.remove('active'));
        controls.forEach(control => control.classList.remove('active'));
      },
      transitionDelay: items => {// Set incrementing css transition-delay for .item-header & .item-description, .vertical-part, b elements
        let seconds;

        items.forEach(item => {
          const children = item.childNodes; // .vertical-part(s)
          let count = 1,
            delay;

          item.classList.value === 'item-header' ? seconds = .015 : seconds = .007;

          children.forEach(child => {// iterate through .vertical-part(s) and style b element
            if (child.classList) {
              item.parentNode.classList.contains('active') ? delay = count * seconds + activeDelay : delay = count * seconds;
              child.firstElementChild.style.transitionDelay = `${delay}s`; // b element
              count++;
            }
          });
        });
      }
    };


    let intervalF = setInterval(slider.nextSlide, interval);
    slider.init();













    // Set the date we're counting down to
    var countDownDate = new Date("Jan 5, 2023 15:37:25").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Output the result in an element with id="demo"
      document.getElementById("timer").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";

      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer").innerHTML = "EXPIRED";
      }
    }, 1000);







    /*CARD_SCROLLER*/
    document.addEventListener("click", closeAllSelect);
    function scrollright() {
      document.getElementById("section3").scrollLeft += 400;
    }
    function scrollleft() {
      document.getElementById("secti  on3").scrollLeft -= 400;
    }
    /*CARD_SCROLLERENDS*/

    /*CARD_SCROLLER*/
    document.addEventListener("click", closeAllSelect);
    function scrollright4() {
      document.getElementById("section4").scrollLeft += 400;
    }
    function scrollleft4() {
      document.getElementById("section4").scrollLeft -= 400;
    }
    /*CARD_SCROLLERENDS*/






    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }



  </script>


  