<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<section class="sections">

    <div class="row">
        <div class="col-md-2">
            <div class="frame bg-light">
                <div class="ms-3">
                    <h3>Filters</h3>
                </div>
                <div>
                    <h5 class="mt-3 ms-3">ORDER STATUS</h5>
                    <form action="/orders/filter" method="post">
                    <div class="filterElements ms-3 mt-3 fs-5">
                        <input type="checkbox" id="onTheWay" name="status" value="placed">
                        <label for="onTheWay"> On the way</label><br>
                        <input type="checkbox" id="delivered" name="status" value="delivered">
                        <label for="delivered"> Delivered</label><br>
                        <input type="checkbox" id="cancelled" name="status" value="cancelled">
                        <label for="cancelled"> Cancelled</label><br>
                        <input type="checkbox" id="returned" name="status" value="returned">
                        <label for="returned"> Returned</label><br>
                    </div>
                    <button class="btn btn-primary ms-3 mt-2" type="submit">Apply</button>
                    </form>
                </div>

            </div>


        </div>
        <div class="col-md-10">
            <div class="">
                <input class="orderSearch" type="text" placeholder="Search your orders here">
                <a href="" class="btn btn-primary">Search orders</a>
            </div>
        <div class="container-fluid">
        {{!-- <div class="row">
            <div class="container d-flex justify-content-end mt-2 mb-5">
                <a href="/admin/add-user" class="btn btn-success mx-3">Add User</a>
            </div>
        </div> --}}
        <div class="row mx-3 mt-5">
            <div class="col-md-12">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th class="text-center" scope="col">Order Id</th>
                           
                            <th class="text-center" scope="col">Total Amount</th>
                            <th class="text-center" scope="col">Payment mode</th>
                            <th class="text-center" scope="col">Status</th>
                           
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>{{this.date}}</td>
                             <td>{{this._id}}</td>
                              
                            
                            
    
                            <td class="text-center">{{this.totalAmount}}</td>
                            <td class="text-center">{{this.paymentMethod}}</td>
                            <td class="text-center">{{this.status}}</td>
                            <td class="text-center">
                                <a href="/orders/products/{{this._id}}" class="btn btn-success"
                                    style="background-color: #00b74a;">Details</a>
                                <br><br>
                                {{#unlessEquals this.status 'cancelled'}}
                                {{#unlessEquals this.status 'delivered'}}
                                <a href="/orders/cancel-order/{{this._id}}" class="btn btn-danger"
                                    style="background-color: #f93154;">Cancel</a>
                                {{/unlessEquals}}
                                {{/unlessEquals}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
     </div>
      </div>
</section>
{{!-- <script>
    $(document).ready(function () {
        $('#example').DataTable({
            "order": [[0, "desc"]],
            "columnDefs": [{ "targets": 0, "type": "date-eu" }],
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal({
                        header: function (row) {
                            var data = row.data();
                            return 'Details for ' + data[0] + ' ' + data[1];
                        }
                    }),
                    renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                        tableClass: 'table'
                    })
                }
            }
        });
    });
</script> --}}